.container {
    font-family: sans-serif;
    
  }
  
  .welcome{
    text-align: left;
    color: white;
    padding-top: 15%;
    padding-bottom: 12%;
    padding-left: 10cap;
    margin-top: 1%;
    background-size: cover;
    background-position: center;
    background-image: url('./assets/resized.jpg');
    
  }

  
  header h1{
    font-weight: 900;
    font-style: oblique;
    font-size: 4cap;
  }

  header p{
    font-size: large;
  }

  .head{
    padding-top: 5ch;
    text-align: center;
    font-weight: bold;
    font-size: 3cap;
    background-color: #000000;
    color: #fff;
  }
  
  .blurbs {
    display: flex;
    justify-content: space-between;
    padding-top: 5ch;
    padding-bottom: 10ch;
    padding-left: 10ch;
    padding-right: 10ch;
    color: #fff;
    background-color: #000000;
    
  }
  
  .blurb1 {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 3px solid #218838;
    border-radius: 5px;
    text-align: center;
    color: #218838;
  }

  .blurb2 {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 3px solid #ADD8E6;
    border-radius: 5px;
    text-align: center;
    color: #ADD8E6;
  }

  .blurb3 {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 3px solid #FF7F7F;
    border-radius: 5px;
    text-align: center;
    color:#FF7F7F;
  }

.contactdetails{
    padding-right: 4cap;
    text-align: center;
}

h2{
    font-size: 3.5ch;
}

.cform{
    color: #fff;
    background-color: #000000;
    margin-top: -3cap;
}


.contact-form-container {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
    margin-left: 40ch;
    border: 1px solid #ffffff;
    padding-top: 4ch;
    padding-bottom: 4ch;
    
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #218838;
}
