.container {
    font-family: sans-serif;
    
  }
  
  .welcome{
    text-align: center;
    color: white;
    padding-top: 12%;
    padding-bottom: 12%;
    margin-top: 1%;
    background-size: cover;
    background-position: center;
    background-image: url('./assets/resized.jpg');
    
  }

  
  header h1{
    font-weight: 900;
    font-style: oblique;
    font-size: 4cap;
  }

  header p{
    font-size: large;
  }
  
  .blurbs {
    display: flex;
    justify-content: space-between;
  }
  
  .blurb {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .icon {
    font-size: 24px;
    margin-bottom: 10px;
  }